.image{
    position: relative;
}

.para{
    position: absolute;
}



.home{
    padding: 0rem 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;

    height: 40rem;
    overflow-x: hidden;
}


.lefthome{
    position: relative;
    width: 100%;
    flex: 1 1 30rem;
    height: 29.5rem;
    background-size: contain;
    overflow: hidden;
}


.righthome{
    flex: 1 1 30rem;
}

.para{
    position: absolute;
    bottom: 5rem;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    color: white;
    z-index: 1;
    line-height: 2rem;
}


.lefthome{
    flex:  1 1 30rem;
}

.image2{
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    height: 35rem;
    transform: scale(1);
    transition: all 0.3s ease;
    border-radius: .3rem;

}


.image2:hover{
    transform: scale(1.1);
    object-fit: cover;
}


@media (max-width:991px){

    
  
}

@media (max-width:768px){




}

@media (max-width:450px){

  .righthome{
    display: none;
  }
  
}